@import "tailwindcss";

:root {
  /* Backgrounds */
  --background: #0f0f11;
  --surface: #161618;

  /* Text */
  --foreground: #ffffff;
  --foreground-muted: #858585;

  /* Primary */
  --primary: #281c1a;
  --primary-foreground: #ffffff;

  /* Border */
  --border: rgba(255, 255, 255, 0.12);

  /* States */
  --success: #16a34a;
  --success-foreground: #ffffff;
  --warning: #f59e0b;
  --warning-foreground: #111827;
  --danger: #dc2626;
  --danger-foreground: #ffffff;
}

@theme inline {
  /* Backgrounds */
  --color-background: var(--background);
  --color-surface: var(--surface);

  /* Text */
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Border */
  --color-border: var(--border);

  /* States */
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  /* Fonts */
  --font-sans: var(--font-main);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), sans-serif;
}
